<a href="https://colab.research.google.com/github/ThoriqSyah/ML/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **JUMLAH DATA**
Menampilkan masing-masing dataset yaitu tourism_with_id.csv dan tourism_rating.csv menggunakan library pandas dari format .csv menjadi dataframe.

In [8]:
# Menggunakan Library Pandas dari format .csf menjadi dataframe
import pandas as pd

# Import File
places = pd.read_csv('/content/drive/MyDrive/BANGTOR/archive/tourism_with_id.csv')
ratings = pd.read_csv('/content/drive/MyDrive/BANGTOR/archive/tourism_rating.csv')

#Print Jumlah Places dan Rating
print('Jumlah places: ', len(places.Place_Id.unique()))
print('Jumlah ratings: ', len(ratings.Place_Ratings))

Jumlah places:  437
Jumlah ratings:  10000

In [ ]:
#Pengecekan informasi variabel dari dataset places berupa jumlah kolom, nama kolom, jumlah data per kolom dan tipe datanya.
places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB

File ini terdiri dari 10 kolom sebagai berikut:


*   Place_Id: kolom yang menunjukkan id dari setiap tempat wisata.
*   Place_Name: kolom yang menunjukkan nama dari setiap tempat wisata.
* Description: kolom yang menunjukkan deskripsi dari setiap tempat wisata.
*   Category: kolom yang menunjukkan kategori dari setiap tempat wisata.
*   City: kolom yang menunjukkan kota dimana tempat wisata tersebut berada.
*   Price: kolom yang menunjukkan harga tiket masuk ke tempat wisata tersebut.
*   Rating: kolom yang menunjukkan rating dari setiap tempat wisata.
*  Time_Minutes:  kolom yang menunjukkan waktu yang diperlukan untuk mengunjungi tempat wisata tersebut.
*   Coordinate: kolom yang menunjukkan koordinat dari setiap tempat wisata.
*   Lat: kolom yang menunjukkan latitude dari setiap tempat wisata.
*   Long: kolom yang menunjukkan longitude dari setiap tempat wisata.